body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
}


.myButton {
	background-color:#44c767;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:1em;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

.navigation__link-container {
    list-style: none;
    margin: 10px;
}

.navigatiosn__links {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.header__navigation {
    background-color: darkblue;
}

.title {
    text-align: center;
}

.main__content-container {
    margin: 0 10%;
}

.page-content {
    border-left: red solid 5spx;
    padding-left: 20px;
}